
.svn/*
*/.svn/*
src/python/.svn/
src/python/qt_py_convert/.svn/
src/python/qt_py_convert/_modules/.svn/
src/python/qt_py_convert/_modules/expand_stars/.svn/
src/python/qt_py_convert/_modules/from_imports/.svn/
src/python/qt_py_convert/_modules/imports/.svn/
src/python/qt_py_convert/_modules/psep0101/.svn/
src/python/qt_py_convert/external/.svn/
src/python/qt_py_convert/external/Qt_patched/.svn/
src/python/qt_py_convert/external/baron/.svn/
src/python/qt_py_convert/external/redbaron/.svn/
src/wrappers/.svn/
src/wrappers/context/.svn/


.idea/*
*.pyc
private

*~
*.pyc

pylint*.out
.idea*

